Flask
Werkzeug==3.1.3 # added by Snyk 
requests==2.32.2 # added by Snyk
flask-caching
Flask-WTF
Flask-Limiter
python-dotenv
psycopg2-binary
gunicorn
click
zipp==3.21.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3==2.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
