{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container" data-aos="fade-up">
  <div class="login-card">
    <div class="login-header">
      <i class="fas fa-user-circle"></i>
      <h1>Welcome Back</h1>
      <p>Please sign in to continue</p>
    </div>
    
    <form method="POST" action="" class="login-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
      <div class="form-group">
        <label for="username">
          <i class="fas fa-user"></i>
          Username
        </label>
        <input type="text" id="username" name="username" required 
               class="form-control" autocomplete="username">
      </div>
      
      <div class="form-group">
        <label for="password">
          <i class="fas fa-lock"></i>
          Password
        </label>
        <input type="password" id="password" name="password" required 
               class="form-control" autocomplete="current-password">
      </div>
      
      <button type="submit" class="login-btn">
        Sign In
        <i class="fas fa-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
{% endblock %}
